h1 {
    color: red;
    font-size: 55px;
}
#header {
    background-color: orange;
}
h2 {
    font-size: 25px;
    margin-bottom: 10px;
}
h4 {
    font-size: 18px;
    margin-bottom: 10px;
}
table {
    margin-bottom: 10px;
    font-size: 17px;
}
th {
    background-color: rgb(118, 118, 196);
}
td {
    background-color: rgb(159, 159, 246);
}
p {
    font-size: 17px;
}
ol {
    color: red;
    font-size: 18px;
}
ul {
    font-size: 17px;
}
